html, body {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100vh;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* Basic page styling */

.App-body {
    background-color: #ff6666;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body h2 {
    background-color: #ff6666;
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 50px;
}

/* Flex box setup, splits page vertically into three rows */

.Top-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Middle-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Bottom-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Specific styling for username search bar and genre dropdown */

.Search-Bar {
    display: relative;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 16px;
}
.Genre-Dropdown {
    display: relative;
    align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    margin-bottom: 16px;
}

.App-link {
    color: #61dafb;
}