html, body {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100vh;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* Basic page styling */

.App-body {
    background-color: #d21e1e;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body h2 {
    background-color: #d21e1e;
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 50px;
}

/* Flex box setup, splits page vertically into three rows */

.Top-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Middle-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}
.Bottom-Box {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Specific styling for username search bar and genre dropdown */

.Advanced-Options-Wrapper {
    transition: 0.1s;
}

.Advanced-Options-Text {
    padding-bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: calc(8px + 2vmin);
    transition: none;
}

.Advanced-Options {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    pointer-events: none;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    font-size: calc(8px + 2vmin);
    width: 100%;
}

.Search-Bar {
    display: relative;
    align-items: flex-start;
    justify-content: center;
    color: white;
    margin-top: 8px;
    margin-bottom: 24px;
}
.Genre-Dropdown {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    color: black;
    margin-bottom: 8px;
}

.Media-Options {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Media-Options div {
    margin-right: 10px;
}

.Media-Options input {
    transform: scale(1.75);
    margin-right: 16px;
    accent-color: #f66;
    border: 0.15em solid #222;
}

.App-link {
    color: #61dafb;
}